* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.FirstTab,
.SecondTab,
.ThirdTab {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: self-start;
  margin-right: 3rem;
  margin-left: 3rem;
}

.aboutJOB {
  display: flex;
  flex-direction: column;
  /* margin-top: 1.3rem; */
  gap: 0.6rem;
  color: #334155;
  line-height: 1.5;
}

.FirstTab p,
.SecondTab p,
.ThirdTab p {
  font-size: 1rem;
  /* margin: 0rem 15rem 0rem 0rem; */
}


.Tabs {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
  margin: 0rem 4rem 7rem 2rem;
  gap: 2rem;
}

.Tabs .Links {
  color: black;
  text-decoration: none;
}

.active,
a.Links:hover {
  box-shadow: -3px 0px #14b8a6;
  color: #14b8a6;
}

.job-company {
  text-transform: uppercase;
  color: #334155;
  display: inline-block;
  background: #cbd5e1;
  padding: 0.375rem 0.75rem;
  border-radius: .25rem;
  ;
  margin: 0.75rem 0px;
}

.job-date {
  color: #64748b;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.job-icon {
  color: #14b8a6;
}


/* Media Queries */

@media screen and (max-width:582px) {
  .App{
    flex-direction: column;
  }
  .Tabs{
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    font-size: 0.9rem;
  }
  .FirstTab,
  .SecondTab,
  .ThirdTab {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .FirstTab h1,
  .SecondTab h1,
  .ThirdTab h1 {
    font-size: 1.5rem;
  }

  .FirstTab p,
  .SecondTab p,
  .ThirdTab p {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .aboutJOB {
    margin-top: -1rem;
  }
}

@media screen and (max-width:318px) {
  .Tabs{
    
    font-size: 0.7rem;
    margin-bottom: 0rem;
  }

  .FirstTab p,
  .SecondTab p,
  .ThirdTab p {
    font-size: 0.77rem;
  }
  .FirstTab h1,
  .SecondTab h1,
  .ThirdTab h1 {
    font-size: 1.22rem;
  }
}